<launch>

  <arg default="X" name="id" />
  <arg default="robot$(arg id)" name="robot_id" />
  <arg default="false" name="gazebo_gui" />
  
	<arg default="false" name="tmux" />

  <include file="$(find gazebo_worlds_spds)/launch/basement_world_paused.launch">
    <arg name="gui" value="$(arg gazebo_gui)" />
    <arg default="false" name="debug" />
  </include>

  <param command="$(find xacro)/xacro --inorder '$(find cititruck_description)/urdf/cititruck_kinect.xacro'" name="robot_description" />

  <group ns="$(arg robot_id)">
    <param name="tf_prefix" value="$(arg robot_id)" />
    <include file="$(find cititruck_gazebo)/launch/cititruck.launch">
      <arg name="robot_pose_x" value="4" /> 
      <arg name="robot_pose_y" value="12.5" />
      <arg name="robot_pose_yaw" value="0" />
      <arg name="robot_id" value="$(arg robot_id)" />
      <arg name="xacro_name" value="cititruck_kinect" />
      <arg name="kinect2" value="true" />
      <arg name="kinect2_name" value="kinect2" />
      <arg name="kinect1_name" value="asus_fork" />
      <arg name="tmux" value="$(arg tmux)" />
    </include>
  </group>

  <group ns="pallet">
    <param name="robot_id" value="pallet" />
    <include file="$(find euro_pallet)/launch/euro_pallet.launch">
      <arg name="pose_x" value="2.15" />
  	  <arg name="pose_y" value="12.5" />
	    <arg name="pose_yaw" value="0" />
	    <arg name="name" value="pallet" />
      <arg name="tmux" value="$(arg tmux)" />
     </include>
  </group>



</launch>